input
{
  padding:8px 10px;
  font-size:18px;
  border:none;
  border-bottom:3px solid rgba(0,0,0,0.3);
  transition:border-color 0.3s;
  background:transparent;
  color:var(--accent-dark);
  /* box-shadow:0px 0px 0px 1000px #FFFFFF inset; */
  border-bottom:var(--border);
  letter-spacing:1px;
  margin-bottom:20px;
  width:100%;
  box-sizing:border-box;
}
input::selection
{
  color:var(--bg);
  background-color:var(--accent-dark);
}
input:focus
{
  border-color:var(--primary3);
  outline:0px solid transparent;
  box-shadow:none;
}
input.error
{
  border-color:var(--red);
}
input.error::placeholder
{
  color:#ef9a9a;
}
@media (max-width:650px)
{
  input
  {
    padding:4px 8px;
    margin-bottom:12px;
  }
}
