.hidden
{
  display:none;
}
.full-container.light-theme
{
  --bg:#FFFFFF;
  --accent:#C0C0C0;
  --accent-semi:rgba(192,192,192,0.5);
  --accent-dark:#606060;
  --border:2px solid var(--accent);
  --inverse:#000000;
}
.full-container.dark-theme
{
  --bg:#303030;
  --accent:#606060;
  --accent-semi:rgba(128,128,128,0.5);
  --accent-dark:#C0C0C0;
  --border:2px solid var(--accent);
  --inverse:#FFFFFF;
}
.scroller::-webkit-scrollbar
{
  width:5px;
  height:5px;
  background:var(--accent);
}
.scroller::-webkit-scrollbar-thumb
{
  background:var(--accent-dark);
}
.scroller::-webkit-scrollbar-thumb:hover
{
  background:var(--inverse);
}
.full-container
{
  width:100%;
  height:100vh;
  display:grid;
  grid-template-columns:280px 1fr;
  grid-template-rows:50px 40px 1fr;
  background:var(--bg);

  --icon-size:150px;
  --icon-gap:10px;
}
.mini-scroll-bar::-webkit-scrollbar
{
  width:5px;
  height:5px;
  background:var(--bg);
}
.mini-scroll-bar::-webkit-scrollbar-thumb
{
  background:var(--accent);
}
.mini-scroll-bar::-webkit-scrollbar-thumb:hover
{
  background:var(--accent-dark);
}
.header
{
  grid-area:1 / 1 / 1 / 3;
  border-bottom:var(--border);
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  overflow-x:auto;
}
.header .options,.header .min
{
  display:flex;
  flex-direction:row;
  align-items:center;
}
.header .option
{
  display:flex;
  flex-direction:row;
  align-items:center;
  margin:0px 15px;
  cursor:pointer;
}
.header .min .option
{
  margin:0px 10px;
}
.header .option .icon
{
  width:30px;
  height:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.header .option .icon svg
{
  width:20px;
  height:20px;
  stroke:var(--accent-dark);
  transition:stroke 0.3s;
}
.header .option .title
{
  color:var(--accent-dark);
  transition:color 0.3s;
  white-space:nowrap;
}
.header .option:hover .icon svg
{
  stroke:var(--primary);
}
.header .option:hover .title
{
  color:var(--primary);
}
.header .option:focus
{
  outline:0px solid transparent;
}
.header .option:focus .icon svg
{
  stroke:var(--primary9);
}
.header .option:focus .title
{
  color:var(--primary9);
}
.tree
{
  grid-area:2 / 1 / 4 / 2;
  border-right:var(--border);
}
.top-bar
{
  border-bottom:var(--border);
  display:grid;
  grid-template-columns:minmax(200px,1fr) 250px;
}
.top-bar .path
{
  display:flex;
  flex-direction:row;
  align-items:center;
  overflow-x:auto;
}
.top-bar .path .location
{
  padding:0px 20px;
  position:relative;
  color:var(--accent-dark);
  cursor:pointer;
  white-space:nowrap;
}
.top-bar .path .location:hover
{
  color:var(--primary);
}
.top-bar .path .location::after
{
  content:"";
  position:absolute;
  top:50%;
  right:10px;
  transform:translate(100%,-50%) rotate(45deg);
  width:10px;
  height:10px;
  border-top:var(--border);
  border-right:var(--border);
}
.top-bar .path .location:hover::after
{
  border-top:2px solid var(--primary);
  border-right:2px solid var(--primary);
}
.top-bar .path .location:last-child::after
{
  display:none;
}
.top-bar .search
{
  border-left:var(--border);
  position:relative;
}
.top-bar .search input
{
  position:absolute;
  top:0;
  left:0;
  border:none;
  border-radius:0px;
  height:100%;
  width:100%;
  background:transparent;
  padding:5px 38px 5px 10px;
  box-sizing:border-box;
  font-size:18px;
  letter-spacing:1px;
  color:var(--accent-dark);
}
.top-bar .search input:focus
{
  outline:0px solid transparent;
  animation:flash 1s ease-out 1 forwards;
}
@keyframes flash
{
  0%
  {
    background:var(--accent-semi);
  }
  100%
  {
    background:transparent;
  }
}
.top-bar .search .icon
{
  width:38px;
  height:38px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position:absolute;
  top:50%;
  right:0;
  transform:translateY(-50%);
}
.top-bar .search .icon svg
{
  width:25px;
  height:25px;
  stroke:var(--accent-dark);
  transition:stroke 0.3s;
}
.top-bar .search input:focus~.icon svg
{
  stroke:var(--inverse);
}
.top-bar .search input::selection
{
  color:var(--bg);
  background:var(--inverse);
}
.contents
{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(var(--icon-size),1fr));
  grid-gap:var(--icon-gap);
  padding:var(--icon-gap);
  box-sizing:border-box;
  overflow:auto;
}
/*
.contents .item .icon
{
  width:100%;
  height:calc(var(--icon-size) - var(--icon-gap) * 2);
  margin-bottom:5px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
}
.contents .item .name
{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  text-align:center;
  color:var(--accent-dark);
}
.contents .item.folder .icon
{
  background-image:url("../../../assets/images/folder.svg");
}
.contents .item.folder.folder-filled .icon
{
  background-image:url("../../../assets/images/folder-filled.svg");
}
.contents .item.file .icon
{
  background-image:url("../../../assets/images/file.svg");
}
*/
.selector
{
  position:fixed;
  top:0;
  left:0;
  width:0;
  height:0;
  opacity:0.3;
  background:var(--primary6);
  outline:2px solid var(--primary9);
}
