<!-- Folder -->
<div [ngClass]="content.filled?'item folder folder-filled':'item folder'" *ngIf="content.type=='folder' && !content.hidden" (mousedown)="preventPropagation($event);" draggable="true" title="{{content.name}}">
  <div class="icon"></div>
  <div class="name">{{content.name}}</div>
</div>
<!-- File -->
<div class="item file" *ngIf="content.type=='file' && !content.hidden" (mousedown)="preventPropagation($event);" draggable="true" title="{{content.name}}">
  <div class="icon"></div>
  <div class="name">{{content.name}}</div>
</div>
