*
{
  padding:0;
  margin:0;
  user-select:none;
}
:root,body
{
  width:100%;
  height:100vh;
  overflow:hidden;
}
:focus
{
  outline:unset;
}
@font-face
{
  font-family:"Lemon";
  src:url("./assets/fonts/lemon.ttf");
  font-display: swap;
}
@font-face
{
  font-family:"Roboto";
  src:url("./assets/fonts/roboto.ttf");
  font-display: swap;
}
@font-face
{
  font-family:"Raleway";
  src:url("./assets/fonts/raleway.ttf");
  font-display: swap;
}
@font-face
{
  font-family:"Dancing Script";
  src:url("./assets/fonts/dancing-script.ttf");
  font-display: swap;
}
body[data-theme="dark"]
{
  --bg:#303030;
  --bg-light:rgba(30,30,30,0.1);
  --accent:#606060;
  --accent-semi:rgba(128,128,128,0.5);
  --accent-semi-light:rgba(128,128,128,0.2);
  --accent-dark:#C0C0C0;
  --border:2px solid var(--accent);
  --inverse:#FFFFFF;
  --inverse-light:#FFFFFF50;
  --abstract-light:rgba(0,0,0,0.15);
  --absolute:#000000;
}
body[data-theme="light"]
{
  --bg:#FFFFFF;
  --bg-light:rgba(0,0,0,0.1);
  --accent:#C0C0C0;
  --accent-semi:rgba(192,192,192,0.5);
  --accent-semi-light:rgba(192,192,192,0.2);
  --accent-dark:#606060;
  --border:2px solid var(--accent);
  --inverse:#000000;
  --inverse-light:#00000050;
  --abstract-light:rgba(255,255,255,0.15);
  --absolute:#FFFFFF;
}
body
{
  --primary:#2196F3;
  --primary0:#E3F2FD;
  --primary1:#BBDEFB;
  --primary2:#90CAF9;
  --primary3:#64B5F6;
  --primary4:#42A5F5;
  --primary5:#2196F3;
  --primary6:#1E88E5;
  --primary7:#1976D2;
  --primary8:#1565C0;
  --primary9:#0D47A1;

  --nav-height:65px;
  --top-bar-height:40px;
  --font-title:"Lemon","Roboto",sans-serif;
  --font-sub-title:"Roboto",sans-serif;
  --font-cursive:"Dancing Script","consolas",cursive;

  --green:#4CAF50;
  --red:#f44336;
  --yellow:#FFEB3B;

  background:var(--bg);

  font-family:"Roboto";
  letter-spacing:1px;
  overflow-x:hidden;
}
@media (max-width:650px)
{
  body
  {
    --nav-height:50px;
  }
}
.container
{
  width:100%;
  height:calc(100% - var(--nav-height));
  box-sizing:border-box;
}
/* Button */
/* .button
{
  padding:8px 20px;
  font-size:18px;
  letter-spacing:1px;
  color:#000000;
  text-decoration:none;
  display:inline-block;
  margin:10px 0px;
  background:var(--primary3) linear-gradient(90deg,var(--primary3),var(--primary7),var(--primary3));
  background-size:200%;
  background-position:0% 0%;
  transition:background-position 0.3s;
  border-radius:50px;
  user-select:none;
  border:none;
  cursor:pointer;
}
.button:hover
{
  background-position:100% 0%;
}
.button:focus
{
  outline:0px solid transparent;
} */


/* Alignment of anchor tag and button are different */
/* button.button
{
  position:relative;
  top:0;
  left:50%;
  transform:translateX(-50%);
} */
/* @media (max-width:650px)
{
  a.button
  {
    position:relative;
    top:0;
    left:50%;
    transform:translateX(-50%);
  }
}
*/


/* Input elements */
.row
{
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  padding:5px 0px;
  height:100%;
}
label
{
  width:100%;
  font-size:18px;
  margin-bottom:10px;
  color:var(--primary6);
}
label.icon
{
  margin:0;
}
.error-message
{
  color:#f44336;
  padding:5px 0px;
  min-height:30px;
  display:flex;
  flex-direction:row;
  align-items:center;
}
.error-message svg
{
  margin-right:5px;
}
@media (max-width:650px)
{
  .row
  {
    padding:0px;
  }
  label
  {
    font-size:16px;
  }
}
.toast-container
{
  width:350px;
  height:auto;
  position:fixed;
  bottom:50px;
  right:10px;
  max-height:75vh;
  overflow-y:auto;
  overflow-x:hidden;
  padding:0px 5px;
  box-sizing:border-box;
}
.toast
{
  position:relative;
  width:100%;
  padding:10px;
  margin:10px 0px;
  line-height:25px;
  box-sizing:border-box;
  font-family:"Roboto";
  text-align:justify;
  box-shadow:0px 0px 5px 0px #000000;
  border-radius:5px;
  animation:toast-show 0.2s linear 1 forwards;
}
.toast.toast-info
{
  background:var(--primary);
}
.toast.toast-warning
{
  background:var(--yellow);
}
.toast.toast-error
{
  background:var(--red);
}
.toast.toast-success
{
  background:var(--green);
}
.toast.toast-fade
{
  animation:toast-fade 0.8s linear 1 forwards;
}
@keyframes toast-show
{
  0%
  {
    opacity:0;
    transform:translateY(200%);
  }
  100%
  {
    opacity:1;
    transform:translateY(0%);
  }
}
@keyframes toast-fade
{
  0%
  {
    opacity:1;
    transform:translateX(0%);
  }
  100%
  {
    opacity:0;
    transform:translateX(100%);
  }
}
