<app-nav active="home"></app-nav>
<div class="container">
  <div class="wrapper">
    <div class="title">File Manager</div>
    <div class="sub-title">
      <div class="text">Graphical User Interface available for accessing your files</div>
      <div class="text">Graphical User Interface available for accessing your files, Graphical User Interface available for accessing your files</div>
    </div>
    <a routerLink="/login" class="button">Get Started</a>
  </div>
  <div class="home-image"></div>
  <!-- <app-primary-button class="v-center"></app-primary-button> -->
</div>
