<div [ngClass]="'full-container icon-'+iconSizes[iconSizeIndex]" (contextmenu)="preventDefault($event);" (mouseup)="mouseUp();" (keydown)="shortcut($event);" (keyup)="updateKeyBoardState($event);" tabindex="0" (click)="closeMenu();">
  <!-- Header -->
  <div class="header mini-scroll-bar">
    <div class="options">
      <!-- Option : File Manager Logo -->
      <div class="option inactive">
        <div class="icon logo" style="background-image:url('./assets/images/logo.svg')"></div>
        <div class="title">File Manager</div>
      </div>
      <!-- Option : Refresh -->
      <div class="option" (click)="refresh();">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><polyline points="1 4 1 10 7 10"></polyline><polyline points="23 20 23 14 17 14"></polyline><path d="M20.49 9A9 9 0 0 0 5.64 5.64L1 10m22 4l-4.64 4.36A9 9 0 0 1 3.51 15"></path></svg>
        </div>
        <div class="title">Refresh</div>
      </div>

    </div>

    <div class="min">
      <!-- Icon Size decrease -->
      <div class="option" (click)="updateIconSize(-1);">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
        </div>
      </div>
      <!-- Icon Size increase -->
      <div class="option" (click)="updateIconSize(1);">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect></svg>
        </div>
      </div>
      <!-- info -->
      <div class="option">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
        </div>
      </div>
      <!-- Theme Switcher button -->
      <div class="option" (click)="switchTheme();">
        <div class="icon">
          <svg *ngIf="theme=='dark'" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
          <svg *ngIf="theme=='light'" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
        </div>
      </div>
      <!-- Settings Button -->
      <div class="option">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
        </div>
      </div>
      <!-- Minimize -->
      <div class="option win-minimize win-buttons" *ngIf="!inBrowser">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><polyline points="4 14 10 14 10 20"></polyline><polyline points="20 10 14 10 14 4"></polyline><line x1="14" y1="10" x2="21" y2="3"></line><line x1="3" y1="21" x2="10" y2="14"></line></svg>
        </div>
      </div>
      <!-- Maximize -->
      <div class="option win-maximize win-buttons" *ngIf="!inBrowser">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>
        </div>
      </div>
      <!-- Close -->
      <div class="option win-close win-buttons" *ngIf="!inBrowser">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
      </div>

    </div>
  </div>
  <!-- Connection list -->
  <div class="connection-list mini-scroll-bar">
    <div class="connection add-connection" (click)="addConnection();">
      <div class="name">Add Connection</div>
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    </div>
    <div class="connection add-connection" (click)="connectToFileSystem(null);">
      <div class="name">My Computer</div>
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
    </div>
    <div class="connection" *ngFor="let connection of connections; let i=index">
      <div class="name">{{connection.name}}</div>
      <div class="description">{{connection.description}}</div>
      <div class="server">{{connection.server}}</div>
      <div class="user">{{connection.user}}</div>
      <div class="connection-options">
        <!-- connect icon-button -->
        <svg (click)="connectToFileSystem(i);" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
        <!-- edit connection icon-button -->
        <svg (click)="editConnection($event,i);" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
        <!-- delete connection icon-button -->
        <svg (click)="deleteConnection($event,i);" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
      </div>
    </div>
  </div>
  <div class="top-bar">
    <!-- Path Explorer -->
    <div class="path mini-scroll-bar">
      <ng-container *ngIf="!editingPath">
        <!-- Root path / -->
        <div class="location" [attr.data-index]="0" (click)="moveToDir($event);" style="z-index:{{path.length+1}}">/</div>
        <!-- Paths -->
        <div class="location" *ngFor="let location of path;let i=index" [attr.data-index]="i+1" (click)="moveToDir($event);" style="z-index:{{path.length-i}}">{{location}}</div>
      </ng-container>
      <ng-container>
        <input type="text" class="editable-path" id="editable-path" [ngClass]="editingPath?'visible':'hidden'" placeholder="Path" autocomplete="off" (keydown)="typingPath($event);" (keyup)="updateKeyBoardState($event);">
        <div class="editable-path-label" [ngClass]="editingPath?'visible':'hidden'" (click)="goToPath();">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
        </div>
      </ng-container>
      <!-- Edit path -->
      <div class="edit-path" (click)="toggleEditPath();">
        <svg *ngIf="!editingPath" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="svg-blue"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg>
        <svg *ngIf="editingPath" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="svg-red"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
      </div>
    </div>
    <!-- Search in Folder-->
    <div class="search">
      <input type="text" id="search" placeholder="Search" (keyup)="searching($event);" (keydown)="stopPropagation($event);">
      <label class="icon" for="search">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
      </label>
    </div>
  </div>
  <!-- Directory Container -->
  <div [ngClass]="getContentContainerStyle()" (contextmenu)="rightClick($event);" (mousedown)="mouseDown($event);" (mousemove)="mouseMoving($event);">
    <!-- Files and Folders -->
    <app-file-folder *ngFor="let content of contents; let i=index" [attr-index]="i" [content]="content" [keyboard]="keyboard" (openFolder)="openDir($event);" (clearAllSelections)="clearSelection();" (shiftSelection)="shiftSelection($event);" (contextmenu)="fileFolderRightClick($event,content.folder,i);" (dblclick)="closeMenu();" (mousedown)="closeMenu();" [isCut]="isItemCutForPaste(i)"></app-file-folder>
    <!-- If no files/folders present -->
    <div *ngIf="noItems && !loading" class="no-items">{{error_loading==""?'No Items':error_loading}}</div>
    <!-- If loading -->
    <div class="loader" *ngIf="loading">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>
    </div>
    <!-- Drag Selector -->
    <div class="selector" *ngIf="dragging" [ngStyle]="getSelectorStyle()"></div>
    <!-- context menu -->
    <div [ngClass]="'context-menu'+((contextMenu?.visibleOptions?.length<1)?' hidden':'')" [ngStyle]="getContextMenuStyle()">
      <!-- Back -->
      <div *ngIf="contextMenu?.visibleOptions?.includes('back')" [ngClass]="'menu-button'+((path.length>0)?'':' menu-disabled')" (click)="goBackOneDir();">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
        <div class="menu-title">Back</div>
      </div>
      <!-- Refresh -->
      <div *ngIf="contextMenu?.visibleOptions?.includes('refresh')" class="menu-button" (click)="refresh();">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><polyline points="1 4 1 10 7 10"></polyline><polyline points="23 20 23 14 17 14"></polyline><path d="M20.49 9A9 9 0 0 0 5.64 5.64L1 10m22 4l-4.64 4.36A9 9 0 0 1 3.51 15"></path></svg>
        <div class="menu-title">Refresh</div>
      </div>
      <!-- paste -->
      <div *ngIf="contextMenu?.visibleOptions?.includes('paste')" [ngClass]="'menu-button'+((paste!=null)?'':' menu-disabled')" (click)="pasteIt();">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
        <div class="menu-title">Paste</div>
      </div>
      <!-- new folder -->
      <div *ngIf="contextMenu?.visibleOptions?.includes('new-folder')" class="menu-button" (click)="newFileFolder('folder');">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
        <div class="menu-title">New Folder</div>
      </div>
      <!-- new file -->
      <div *ngIf="contextMenu?.visibleOptions?.includes('new-file')" class="menu-button" (click)="newFileFolder('file');">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
        <div class="menu-title">New File</div>
      </div>
      <!-- open -->
      <div *ngIf="contextMenu?.visibleOptions?.includes('open')" class="menu-button" (click)="openDir(contextMenu?.selectedItems[0],true)">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
        <div class="menu-title">Open {{isDriveListing?"Drive":"Folder"}}</div>
      </div>
      <!-- rename -->
      <div  *ngIf="contextMenu?.visibleOptions?.includes('rename')" [ngClass]="'menu-button'+((contextMenu?.selectedItems?.length<2)?'':' menu-disabled')" (click)="rename();">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
        <div class="menu-title">Rename</div>
      </div>
      <!-- delete -->
      <div *ngIf="contextMenu?.visibleOptions?.includes('delete')" class="menu-button" (click)="deleteFileFolder();">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
        <div class="menu-title">Delete</div>
      </div>
      <!-- cut -->
      <div *ngIf="contextMenu?.visibleOptions?.includes('cut')" class="menu-button" (click)="cutCopy('cut');">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><circle cx="6" cy="6" r="3"></circle><circle cx="6" cy="18" r="3"></circle><line x1="20" y1="4" x2="8.12" y2="15.88"></line><line x1="14.47" y1="14.48" x2="20" y2="20"></line><line x1="8.12" y1="8.12" x2="12" y2="12"></line></svg>
        <div class="menu-title">Cut</div>
      </div>
      <!-- copy -->
      <div *ngIf="contextMenu?.visibleOptions?.includes('copy')" class="menu-button" (click)="cutCopy('copy');">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>
        <div class="menu-title">Copy</div>
      </div>
      <!-- properties -->
      <div *ngIf="contextMenu?.visibleOptions?.includes('properties')" [ngClass]="'menu-button'+((contextMenu?.selectedItems?.length<2)?'':' menu-disabled')">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
        <div class="menu-title">Properties</div>
      </div>
      <!-- to calculate height -->
      <ng-container *ngIf="setMenuStyle();"></ng-container>
    </div>
  </div>

  <div class="progress-container mini-scroll-bar" *ngIf="isProgressActive">
    <div class="title-box">
      <div class="title">Background Tasks</div>
      <div class="close" (click)="closeProgress();">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
      </div>
    </div>
    <div [ngClass]="'process'+(process==undefined?' hidden':'')" *ngFor="let process of background_processes">
      <ng-container *ngIf="process!=undefined">
        <div class="title">{{getProcessTitle(process.type)}}</div>
        <ng-container *ngIf="process.data.source!=null">
          <div class="sub-title">Source : {{process.data.source?.server || "Local"}}</div>
          <div class="sub-title">Source Directory : {{process.data.source?.baseFolder}}</div>
          <div class="sub-title" *ngIf="process.data.source.files!==undefined">Source Files : {{printSourceFiles(process.data.source?.files)}}</div>
        </ng-container>
        <ng-container *ngIf="process.data.target!=null">
          <div class="sub-title">Target : {{process.data.target?.server || "Local"}}</div>
          <div class="sub-title">Target Directory : {{process.data.target.baseFolder}}</div>
        </ng-container>
        <div class="progress" *ngIf="!['failed','completed'].includes(process.status)">
          <div style="width:{{process.progressIndefinite?'100':process.progress}}%;" class="progress-bar"></div>
        </div>
        <div class="error-status" *ngIf="process.status=='failed'">
          <div class="text">Failed</div>
          <div class="delete-process" (click)="hideBackgroundProcess(process.process_id);">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </div>
        </div>
        <div class="success-status" *ngIf="process.status=='completed'">
          <div class="text">Completed</div>
          <div class="delete-process" (click)="hideBackgroundProcess(process.process_id);">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="bottom-bar">
    <div class="bottom-bar-inner bar-left">
      <div class="bar-item">{{this.contents.length}} items</div>
      <div class="bar-item">{{getNumberOfSelectedItems()}} items selected</div>
    </div>
    <div class="bottom-bar-inner bar-right">
      <div class="key-state" *ngIf="keyboard.ctrl">Ctrl</div>
      <div class="key-state" *ngIf="keyboard.shift">Shift</div>
      <div class="key-state" *ngIf="keyboard.alt">Alt</div>
      <div class="key-state key-green" *ngIf="keyboard.caps">Caps</div>
      <div class="progress-button" (click)="toggleProgressState();">
        <!-- list symbol -->
        <svg *ngIf="!isBackgroundProssessesRunning();" class="list-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
        <!-- progress symbol -->
        <svg *ngIf="isBackgroundProssessesRunning();" class="progress-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>
      </div>
    </div>
  </div>

  <!-- PopUp -->
  <app-pop-up [popUp]="popUp" (ok)="handlePopUpEvent('ok',$event);" (cancel)="handlePopUpEvent('cancel',$event);" (misk)="handlePopUpEvent('misk',$event);"></app-pop-up>

  <!-- messages -->
  <div class="toast-container mini-scroll-bar"></div>
</div>

<!-- splash loading until initial loading -->
<div class="splash" *ngIf="!finished_loaded_init_contents || !finished_setting_up_socket || !max_spash_visibility_over">
  <div class="icon" style="background-image:url('./assets/images/logo.svg')"></div>
  <svg class="splash-load" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#C0C0C0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>
</div>
