input
{
  padding:8px 10px;
  font-size:18px;
  border:none;
  border-bottom:3px solid rgba(0,0,0,0.3);
  transition:border-color 0.3s;
  background:#FFFFFF;
  box-shadow:0px 0px 0px 1000px #FFFFFF inset;
  letter-spacing:1px;
  margin-bottom:20px;
}
input:focus
{
  border-color:rgba(0,0,0,1);
  outline:0px solid transparent;
  box-shadow:none;
}
